@page "/tageditor"
@inherits TakesPage
@inject NavigationManager _navigationManager

<PageTitle>TagEditor</PageTitle>

@if (Mp3TagSets == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <section class="mp3tagset-edit">
        <div>
                <div>
                    <li><label><b>Activate a Saved Filename/ID3 Tag Template</b> </label>

                    <select class="select-element" value="@SelectedMp3TagSetId" @onchange="UpdateActiveMp3TagFromDropdown">
                        <option value="0" selected></option>
                        @foreach (Mp3TagSet tagSet in Mp3TagSets)
                        {
                            <option value="@tagSet.Id">@tagSet.Id</option>
                        }
                    </select>
                    </li>
                    <br>
                    <li>
                    <b>Or Create a New Template<br></b>
                    Title must include <i>[#]</i>, to be subsituted with count.
                    <i>[Date]</i> will substitute with today's date.<br>
                  <div>
                    <EditForm Model="@CandidateMp3TagSet" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <br>
                    <div class="form-group row">
                        <label for="title" class="col-sm-3"><b>Title:</b> </label>
                        <InputText id="Title" class="form-control col-sm-8" @bind-Value="@CandidateTitle" @bind-Value:after="UpdateButtonsStatus">"</InputText>
                        <label for="artist" class="col-sm-3"><b>Artist:</b> </label>
                        <InputText id="Artist" class="form-control col-sm-8" @bind-Value="@CandidateArtist" @bind-Value:after="UpdateButtonsStatus">"></InputText>
                        <label for="album" class="col-sm-3"><b>Album:</b> </label>
                        <InputText id="Album" class="form-control col-sm-8" @bind-Value="@CandidateAlbum" @bind-Value:after="UpdateButtonsStatus">"></InputText>
                    </div>
                        </EditForm>
                    
                    @if (@ShowDeleteButton)
                    {
                        <button class="btn btn-dark" @onclick="@DeleteMp3TagSet"><i class="fa fa-floppy-o" aria-hidden="false"></i> Delete</button>

                    }
                    @if (@ShowSaveButton)
                    {
                                <button type="submit" @onclick="@HandleValidSubmit"  class="btn btn-primary edit-btn" aria-hidden="false">Save And Set Active</button>
                    }
                    </div>
                    </li>
                </div>
                
         </div>

        <div>
            <br><br>
            <h3>Preview</h3>
            <ul>
                <li> <b>Title:</b> @CandidateTitle.TranslateString()</li>
                <li> <b>Artist:</b> @CandidateArtist</li>
                <li> <b>Album:</b> @CandidateAlbum.TranslateString()</li>
            </ul>
        </div>

    </section>
}