@page "/settings"

@inherits TakesPage

@inject NavigationManager _navigationManager

@if (MyStateDisplay < 1 )
@*     @if  (@AllTakes == null) *@
{
	<p><em>Loading...</em></p>
} else{
<div class="mb-3">
	<ul>
	<li><label><b>Normalize</b></label>
	<InputCheckbox @bind-Value=@Normalize @bind-Value:after="@OnSettingsChange"></InputCheckbox>


				@if (Normalize)
				{
					<br />
				<tab><label><b>Split Channels</b></label></tab>
				<InputCheckbox @bind-Value=@NormalizeSplitChannels @bind-Value:after="@OnSettingsChange"></InputCheckbox>
				
				}
	</li>
	<br />		
	<li>
				<label><b>Downmix To Mono</b></label>
				<InputCheckbox @bind-Value=@Downmix @bind-Value:after="@OnSettingsChange"><b>Downmix</b></InputCheckbox>
			</li>
	<br>

	<li><label><b>Copy To USB</b></label>
	<InputCheckbox @bind-Value=@CopyToUsb @bind-Value:after="@OnSettingsChange" disabled=@UsbIsDisabled><b>Copy</b></InputCheckbox>
		<br />

				@* @if (RemovableDrivePath != string.Empty) *@
				@if (CopyToUsb)
				{

					<tab><i><b>Removable Drive Path:</b></i>
					<select class="select-element" value="@SelectedRemovableDrive" @onchange="UpdateRemovableDrivePathFromDropdown">
						<option selected></option>
					@foreach (string removableDrivePath in @RemovableDrivePaths) 
					{
							<option @key=@removableDrivePath selected=@SelectedRemovableDrive value=@removableDrivePath>@removableDrivePath</option>
					}
					<br>
						<br>
					</select>
					</tab>
				}
			</li>
			<br>
		<li><label><b>Upload To Dropbox</b></label>
				<InputCheckbox @bind-Value=@PushToCloud @bind-Value:after="@OnSettingsChange" disabled=@DropBoxIsDisabled><b>Upload</b></InputCheckbox>
		</li>
		<br />
			<li><b>Network Status :</b> @NetworkStatus</li>
			<br>
			<li><b>DropBox Auth Status:</b>@DropBoxAuthStatus</li>
			<br>
	</ul>

	<br>
	<br>
	@if ( DropBoxAuthStatus)
	{
		<button class="btn btn-dark" @onclick="@UnAuthorizeDropBoxAsync"><i class="fa fa-floppy-o" aria-hidden="false"></i>Revoke DropBox Authorization</button>
	}
	else
		{
			@* <a href=@DropBoxAuthUrl target="_blank">Authorize DropBox</a> *@
			<label for="dropboxcode" class="col-sm-3">@DropBoxCode </label>
			<InputText id="DropBoxCode" class="form-control col-sm-8" @bind-Value="@DropBoxCode">"</InputText>
			<button class="btn btn-dark" @onclick="@AuthorizeDropBoxAsync"><i class="fa fa-floppy-o" aria-hidden="false"></i>Submit DropBox Code</button>
		<br>
		<br>
		<br>
		<div>
		@* 	<label for="dropboxurl" class="col-sm-3"> *@
		<b>Copy/paste this url into a new browser window and follow prompts to obtain a DropBox code to paste into field above:</b>
		<br>
		@DropBoxAuthUrl
		@* 	</label> *@
		</div>
			

		}

	@*
	DropBoxAuthentication Status : 
<br />
	[ Press To Authenticate ]

[ Clear Saved Recordings ]
<br />
<br>
[ System Reset ]
	*@
</div> 
}