@page "/"

@implements IDisposable
@inject NavigationManager _navigationManager

@* @if (@AllTakes == null) *@
@if ((@MyStateDisplay == 0) || (@AllTakes == null))
@*     @if  (@AllTakes == null) *@
{
    <p><em>Loading...</em></p>
}
else
{
    <head>
        <style>
            body {
                background-image: url(@bgUrl);
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: 100% 100%;
            }
        </style>
    </head>

@*     <label> <b>IP Addrress:</b> @CurrentUrl</label> *@
    <br><br>

 <div>
<Button  style="background-color:@recordButtonColor" @onclick="(() => RecordStop_Click())">,<b>@recordButtonText</b></Button>
@* <Button @onclick="StopAudio" Color="black"> Stop </Button>  *@
<br />
</div>
    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Artist</th>
                <th>Session</th>
                <th>Length</th>
                <th>Normalized</th>
                <th>Orig Peak</th>
                <th>Converted</th>
                <th>Uploaded</th>
                <th>Delete</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var take in @AllTakes)
            {
                <tr>
                    <td> <button style="background-color:@ButtonColor[take.Id]" type="submit" class="btn btn-primary" @onclick="(() => PlayStop_Click(take.Id))" >@ButtonText[take.Id]</button></td>
                    <td>@take.Title</td>
                    <td>@take.Artist</td>
                    <td>@take.Album</td>
                    <td>@take.Duration.ToString(@"mm\:ss")</td> 
                    <td>@take.Normalized</td>
                    <td>@take.OriginalPeakVolume</td>
@*                  <td>@FormatPeakDecimal(take.OriginalPeakVolume)</td> *@
                    <td>@take.WasConvertedToMp3</td>
                    <td>@take.WasUpLoaded</td>
                    <td> <button style="background-color:black" type="submit" class="btn btn-primary" @onclick="(() => DeleteTake(take.Id))">X</button></td>
                </tr>
            }
        </tbody>
    </table>
     <div>
        @if (@AllTakes.Count > 0 && MyStateDisplay < 2 )
        { 
            <Button style="background-color:black;color:white" @onclick="EraseAll_Click"><b>Erase All Recordings</b></Button>
            <br />
        }
</div>
}
